services:
  postgres:
    image: postgres:latest
    container_name: integration-postgres
    restart: always
    environment:
      POSTGRES_DB: postgres
      POSTGRES_USER: user
      POSTGRES_PASSWORD: password
    ports:
      - '5432:5432'
    networks:
      - integration-network

  redis:
    image: redis/redis-stack:latest
    container_name: integration-redis
    ports:
      - '6379:6379'
      - '8001:8001'
    volumes:
      - redis_data:/data
    networks:
      - integration-network

volumes:
  redis_data:
    driver: local

networks:
  integration-network:
    driver: bridge
